[Unit]
Description=Gasera Flask API
After=network.target
Wants=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/GaseraMux
ExecStart=/usr/bin/python3 run.py
Restart=on-failure

# Security and file perms:
# new files default to 644/755 instead of 666/777
UMask=0022

# allow privilege escalation
NoNewPrivileges=no

# give service its own /tmp
PrivateTmp=yes

# mount system dirs read-only
ProtectSystem=full

# hide /home from service
ProtectHome=yes

# only allow writes here
ReadWritePaths=/opt/GaseraMux/config /var/log /tmp

[Install]
WantedBy=multi-user.target
